#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.animated-button {
  // Tamanho inicial (quadrado)
  width: 50px; 
  height: 50px;
  
  // Transição lenta (slow transition)
  transition: width 0.5s ease-in-out; 
  
  // Centraliza o ícone
  --padding-start: 0;
  --padding-end: 0;

  &.expanded {
    // Tamanho quando expandido
    width: 100%; 
  }
}